.container {
  background: radial-gradient(
    rgba(123, 236, 233, 1) 0%,
    rgba(105, 223, 235, 1) 52%,
    rgba(127, 175, 240, 1) 100%
  );
  border: 1px transparent rgba(105, 223, 235, 1);
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}

.form {
  margin: 40px 0 30px 30px;
}

.search-button {
  color: white;
  background-color: rgba(105, 223, 235, 1);
  border-radius: 2px;
  border-color: white;
}

h1,
h2,
h3,
.button {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
}

.weather-icon,
#current-time {
  color: white;
  display: block;
  font-size: 40px;
  text-align: center;
}

.center-feature {
  background-color: radial-gradient(
    rgba(123, 236, 233, 1) 0%,
    rgba(105, 223, 235, 1) 52%,
    rgba(127, 175, 240, 1) 100%
  );
  border: none;
  border-radius: 20%;
  margin: auto 40px;
  padding: 30px 0;
}

.convertTemp {
  display: inline block;
  text-align: center;
  margin: 0 auto;
}

#current-location {
  display: block;
  text-align: center;
  margin: 10px auto;
  color: white;
  background-color: rgba(105, 223, 235, 1);
  border-radius: 2px;
  border-color: white;
}

.row {
  margin-top: 50px;
}

.col {
  color: white;
  display: block;
}

.days,
.icons {
  display: block;
  line-height: 40px;
  text-align: center;
}

.days {
  font-size: larger;
  font-family: "Noto Sans JP", sans-serif;
}
.icons {
  font-size: 30px;
}

.min-temp,
.max-temp {
  display: block;
  font-size: larger;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 40px;
}

.min-temp {
  text-align: right;
}

.max {
  margin-right: 20px;
  text-align: left;
}
